.Inbox {
    margin-top: 59px;
    padding: 0;
    margin: 0;
    color: black;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
}

.inbox-sidebar {
    flex: 0 0 250px;
    padding: 5px;
}
.inbox-content {
    display: flex;
    flex-direction: column;

    flex: 1;
    margin: 5px;
}

.inbox-sidebar {
    border-right: 2px solid #0000002a;
}

.message-list-container {
    /* margin-bottom: 50px; */
    padding-inline: 40px;
    max-height: 100%;
    padding-bottom: 20px;
}

.scrollable {
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.compose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e1e1cc;
    width: 100%;
    background-color: #ffffffcc;
    backdrop-filter: blur(20px);
}

.compose-input {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1;
    border: none;
    padding-inline: 20px;
    font-size: 18px;
    height: 40px;
    background: none;
    outline: none;
}

.send {
    border-left: 1px solid #0000002a;
    padding-inline: 10px;
}



/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .Inbox {
      flex-direction: row; /* Change to row layout */
    }
  
    .inbox-sidebar {
      display: none; /* Hide sidebar */
    }
  
    .inbox-content {
      flex: 1; /* Main content area takes full width */
    }
  }