.Message {
    display: flex;
    flex-direction: column;
}

.Message .bubble-container {
    font-size: 15px;
    display: flex;
}

.Message.mine .bubble-container {
    justify-content: flex-end;
}

.Message .bubble-container .bubble {
    margin: 1px 0;
    background: #f4f4f8;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Message.mine .bubble-container .bubble {
    background: #50a000;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.timestamp {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.timestamp.mine {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.timestamp p {
    padding: 0;
    margin: 0;
}